body {
  background-color: black;
  --left-hue: 180;
  --right-hue: 0;
}

.guide {
  color: lime;
  text-align: center;
}

/* Slider stuff */
.leftium::after {
  counter-reset: leftium var(--resource-leftium);
  content: counter(leftium);
  color: hsl(var(--left-hue), 100%, 75%);
}
.rightium::after {
  counter-reset: rightium var(--resource-rightium);
  content: counter(rightium);
  color: hsl(var(--right-hue), 100%, 75%);
}
.rangecontainer, .slidercontainer {
  display: flex;
}
.rangecontainer input[type="range"], .slidercontainer .slider {
  flex-grow: 1;
}
.slider {
  width: 100%;
  height: 20px;
  background-color: gray;
  display: flex;

  --state: var(--resource-sliderstate);
  --puck-width: 20px;
}
.sliderbar {
  display: flex;
  flex-grow: 1;
}
.slider .leftslider {
  width: calc(var(--state)*100% - var(--state)*var(--puck-width));
  background-color: hsl(
    var(--left-hue),
    calc(var(--state)*100%),
    75%
  );
}
.slider .rightslider {
  flex-grow: 1;
  background-color: hsl(
    var(--right-hue),
    calc(100% - var(--state)*100%),
    75%
  );
}
.slidee {
  width: var(--puck-width);
  height: 20px;
  background-color: green;
}

.clearLeft {
  background-color: hsl(
    var(--left-hue),
    calc(var(--resource-left-pressure-high) * 100%),
    50%
  );
}

.clearRight {
  background-color: hsl(
    var(--right-hue),
    calc(var(--resource-right-pressure-high) * 100%),
    50%
  );
}

/* Warning label stuff */
.warnings {
  display: flex;
}

.flexspacer {
  flex-grow: 1;
}

.left.warning {
  display: none;
  color: white;
}

.right.warning {
  display: none;
  color: white;
}

.left.warning::after {
  counter-reset: lp var(--resource-left-pressure);
  content: counter(lp);
}

.right.warning::after {
  counter-reset: rp var(--resource-right-pressure);
  content: counter(rp);
}

.resource-left-pressure-high .left.warning,
.resource-right-pressure-high .right.warning {
  display: inline;
}

/* Body info stuff */
.bodyinfo {
  display: flex;
}
.bodyclasses, .bodyvariables {
  flex-grow: 1;
  color: white;
}
.bodyinfo ul {
  margin-top: 0;
  padding-left: 20px;
}
